body{
  height: 100%;
  width: 100%;
  background-color: var(--blacktwo);
}

#root{
  background-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--blacktwo);
  font-family: a2;
  letter-spacing: 0px;
  font-size: 17px;
}

:root{
  --white: #edebe8;
  --whitetwo: #f1efe7;
  --black: #242320;
  --blacktwo: #121212;
}

main{
  width: 100%;
  overflow: hidden;
  /* background-color: var(--black2); */
}

@font-face {
  font-family: a1;
  src: url(../src/fonts/Aeonik-Light.woff2);
}

@font-face {
  font-family: a2;
  src: url(../src/fonts/Aeonik-Regular.woff2);
}

@font-face {
  font-family: a3;
  src: url(../src/fonts/Aeonik-Medium.woff2);
}

@font-face {
  font-family: a4;
  src: url(../src/fonts/Aeonik-Bold.woff2);
}

h1,p,.menu-tag,.foot-tag,.span-tag{
  font-size: 4vw;
  letter-spacing: -0.7px;
  font-family: a2;
  font-weight: 100;
  text-decoration: none;
}

h2{
  font-size: 17px;
  letter-spacing: 0px;
  font-family: a2;
  font-weight: 100;
}

.pages-wrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body::-webkit-scrollbar{
  display: none;
} */